.logo{
    box-shadow: 10px 10px blue;
    border-radius: 10px;
    width: 350px;
}
*{
    font-family: 'Poppins', sans-serif;
}
.bootoon:hover{
    color:blue !important;
    background-color: black;
    width: 600px;
    border-radius: 15px;
    color:white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}.bootoon{
    color: white !important;
    background-color: #3b31ad;
    width: 600px;
    border-radius: 15px;
    color:white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none !important;
    
}
.line {
    height: 6px;
    width:70px;
    background-color: black;
    margin: 8px auto;
}
.WhiteBackground{
    width:100%;
    height:100%;
    background-color: white;
}
#meh{
    width:350px;
    border-radius: 50%;
}
.others{
    border-radius: 50%;
    width:150px;
}
.pfp{
    width: 500px;
    overflow: hidden;
}
.pfp1{
    float:left;
} 
.pfp2{
    overflow: hidden;
}